<!--The content below is only a placeholder and can be replaced.-->
<div class="container">

<div class="row">
  <div class="col-md-12">

    <form [formGroup]="frmSearch">
        <div class="modal-body" id="area-frmSearch">

            <div class="row" style="overflow-x: auto">
                <div class="col-xs-12">
                  <fieldset class="search-wrapper">
                    <div class="filter">
                      <input type="text" class="form-control search-field" formControlName="filter" placeholder="DIGITE">
                    </div>
                    
                    <button type="button" class="btn search-btn" (click)="teste()" >
                        Buscar
                    </button>
                  </fieldset>
                  
                </div>
            </div>
        </div>
    </form>

  </div>
</div> 

<router-outlet></router-outlet>
</div>
