<!--The content below is only a placeholder and can be replaced.-->
<div class="container">

<div class="row">
  <div class="col-md-12">

    <form [formGroup]="frmBusca">
        <div class="modal-body" id="area-busca">

            <div class="row" style="overflow-x: auto">
                <div class="col-xs-12">
                  <div class="form-group animated fadeInLeft">
                      <label class="input">
                          <b>Busca: </b>
                      </label>
                      <div class="valorPremio">
                        <input type="text" class="form-control" formControlName="filtro">
                      </div>
                  </div>
                  
                  <button type="button" class="btn btn-primary" (click)="teste()" >
                      Baixar
                  </button>
                  
                </div>
            </div>
        </div>
    </form>

  </div>
</div> 

<router-outlet></router-outlet>
</div>
