<!--The content below is only a placeholder and can be replaced.-->
<div class="container">

<div class="row">
  <h1 class="col-md-12">Teste</h1>

  <div class="col-xs-12">

    <form [formGroup]="frmSearch">
        <div class="modal-body" id="area-frmSearch">

            <div class="row" style="overflow-x: auto">
                <div class="col-xs-12">
                  <fieldset class="search-wrapper">
                    <div class="filter">
                      <input type="text" class="form-control search-field" formControlName="filter" placeholder="DIGITE">
                    </div>
                    
                    <button type="button" class="btn search-btn" (click)="teste()" >
                        Buscar
                    </button>
                  </fieldset>
                  
                </div>
            </div>
        </div>
    </form>

    

    <section class="row search-result" *ngIf="list.length > 0">
      <div class="col-xs-12"><h2 class="search-title">Resultado da Busca</h2></div>

      <div class="col-xs-12">
        <accordion [isAnimated]="true" [closeOthers]="true">
          <accordion-group *ngFor="let object of list" heading="{{object.Title}}">
            {{object.Description}}
          </accordion-group>
        </accordion>
      </div>
    </section>
  </div>
</div> 

<router-outlet></router-outlet>
</div>
