h1 {
    text-align:center;
    color:#fff;
    margin-bottom: 250px;
}

/**Search field**/
.search-wrapper {
    position: relative;
}

.search-field {
    border: 0;
    border-radius: 0;
    padding: 15px 20px;
    height: auto;
}

.search-btn {
    background: #fcdb67;
    width: 80px;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    border: 0;
    padding: 0;
    border-radius: 0;
    margin: 0;
}

/**Loading**/
.loading-wrapper{
    position:absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    background-color:rgba(0,0,0,.4);
}

.loading-wrapper img{
    position: relative;
    width: 50px;
    margin: 0 auto;
    left: 50%;
    margin-left: -50px;
    top: 50%;
    margin-top: -50px;
}

/**Accordion**/
.search-result{
    margin-top:210px;
}

.search-title{
    font-size: 14px;
    color: #949494;
    font-weight: bold;
}

/deep/ .panel-group .panel{
    border: 1px solid #e7e7e7;
    border-radius: 2px;
}

/deep/ .card{
    border: 0!important;
}

/deep/ .panel-default>.panel-heading {
    background:#fff;
}

/deep/ .panel-heading .btn-link {
    color: #233647;
    text-transform: uppercase;
    font-weight: bold;
}

/deep/ .panel-default>.panel-heading+.panel-collapse>.panel-body {
    color:#626262;
    padding:30px;
}
@media screen and (max-width: 1400px) {
    h1 {
        margin-bottom: 180px;
    }
    .search-result {
        margin-top: 150px;
    }
}
@media screen and (max-width: 1124px) {
    h1 {
        margin-bottom: 100px;
    }
    .search-result {
        margin-top: 100px;
    }
}
@media screen and (max-width: 860px) {
    h1 {
        margin-bottom: 60px;
    }
    .search-result {
        margin-top: 60px;
    }
}
@media screen and (max-width: 700px) {
    h1 {
        margin-bottom: 30px;
    }
    .search-result {
        margin-top: 30px;
    }
}
@media screen and (max-width: 560px) {
    h1 {
        margin-bottom: 0;
    }
    
}